$primary-color:#45489a;
$secondary-color:rgba(12,12,12,0.9);
$container-padding:40px;
$container-padding-md:50px;
$container-padding-lg:100px;





$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;


